.showContainer {
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.buttons {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.seasonform {
    width: 150px;
}

.show {
    color: #ffda00;
    cursor: pointer;
}

.show:hover {
    color: white;
}