<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Add New Movie</h2>
    <form method="post" action="/code">
        <div class="form-group">
            <label for="exampleInputEmail1">id</label>
            <input type="title" class="form-control" id="title" aria-describedby="emailHelp" name="test[title]">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">id</label>
            <input type="title" class="form-control" id="title" aria-describedby="emailHelp" name="test[language]">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">id</label>
            <textarea class="form-control" id="title" aria-describedby="emailHelp" name="test[code]"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>